.container{
    position: relative;
}
.customer{
    position: absolute;
    top: 100px;
    left: 50px;
}
.first{
    border-radius: 30px 0px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 30px;
}

.left{
    font-size: x-large;
    
}
.rating{
    position: absolute;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline;
    left: 240px;
    top: 10px;
    padding: 5px;
}
h5{
    margin-top: 10px;
}
.paragraph{
    font-size: x-small;
}
.sun{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.para2{
    position: absolute;
    display: inline;
    padding-left: 10px;
    font-weight: bold;
    font-size: small;
}
.para3{
    position: absolute;
    top: 150px;
    padding-left: 10px;
    font-size: x-small;
}
.first:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}





/* Custom media queries*/
@media (max-width: 575.98px) {
    .customer{
        top: 0px;
    }
    .first {
        margin-top: 50px;
        margin-bottom: 30px;
        left: 50px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .first {
        margin-bottom: 30px;
    }
}

@media (max-width: 992px) {
    .first {
        margin-bottom: 30px;
        left: 40px;
        margin-top: 40px;
    }
    .second{
        left: 40px;
    }
}













/* @media (max-width: 576px) {
    .first{
        flex-wrap: wrap;
        margin-left: 50px;
        display: block;
    }
    .second{
        margin-top: 50px;
    }
    .third{
        margin-top: 50px;
    }
}
@media (max-width: 768px) {
    .first{
        position: absolute;
        display: block;
        flex-wrap: wrap;
        margin-left: 90px;
    }
    .second{
        margin-top: 50px;
    }
    .third{
        margin-top: 50px;
    }
}
@media (max-width: 992px) {
    .first{
        position: absolute;
        flex-wrap: wrap;
        left: 0px;
    }
    .second{
        position: absolute;
        left: 270px;
    }
    .third{
        flex-wrap: wrap;
        position: absolute;
        left: 550px;
    }
}
@media (max-width: 1200px) {
    .first{
        flex-wrap: wrap;
    }
}
@media (max-width: 1400px) {
    .first{
        flex-wrap: wrap;
    }
} */